section {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 48px 20px;
  margin: 0 auto;
  max-width: 600px;
  color: #333;
}

section h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 1;
  margin: 0 0 4px;
  display: inline-block;
  vertical-align: top;
}

section p {
  margin: 1em 0;
}

section a {
  text-decoration: none;
  color: #1ea7fd;
}

section ul {
  padding-left: 30px;
  margin: 1em 0;
}

section li {
  margin-bottom: 8px;
}

section .tip {
  display: inline-block;
  border-radius: 1em;
  font-size: 11px;
  line-height: 12px;
  font-weight: 700;
  background: #e7fdd8;
  color: #66bf3c;
  padding: 4px 12px;
  margin-right: 10px;
  vertical-align: top;
}

section .tip-wrapper {
  font-size: 13px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

section .tip-wrapper svg {
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-right: 4px;
  vertical-align: top;
  margin-top: 3px;
}

section .tip-wrapper svg path {
  fill: #1ea7fd;
}

#img-voiture{
position: absolute;
width: 1440px;
height: 424px;
left: 0px;
top: 72px;
display: block;
background: url(image2.png);
}


#paragraphe{
position: absolute;
width: 795.92px;
height: 104px;
left: 322px;
top: 392px;
background-color: white;}

#paragraphe p{
  position:center;
margin-left: 43px;
margin-right: 42.9px;
margin-top: 16px;
margin-bottom: 16px;
font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 17px;
}

hr{
  
position: absolute;
width: 750px;
height: 0px;
left: 345px;
top: 496px;

/* Principale/Rouge */

border: 1px solid #C00000;
}

#INSCRIPTION{
  
position: absolute;
width: 139px;
height: 25px;
left: 365px;
top: 528px;

/* H1 desktop */

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
color: #C00000;

}

#before-button-radio{
 position: absolute;
width: 55px;
height: 20px;
left: 389px;
top: 561px;

/* texte/desktop */

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Principale/ Noir */

color: #000000;
}


#button-radio{
  position: absolute;
  width: 100%;
  height: 20px;
  left: 399px;
  top: 589px;

/* texte/desktop */

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Principale/ Noir */

color: #000000;

}


#entreprise-input {
position: absolute;
width: 50%;
height: 20px;
left: 385px;
top: 589px;

/* texte/desktop */

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Principale/ Noir */

color: #000000;

}

#particulier-input{

position: absolute;
width: 50%;
height: 20px;
left: 574px;
top: 589px;

/* texte/desktop */

font-family: 'Abel';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;

/* Principale/ Noir */

color: #000000;


}


#FORM {
  /* top: 600px; */
  position:absolute; 
}

 #BOUTTON{
position:absoulute ; 
}











/******          pagehome           ******/





.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:72px ;
  width:1440px;
  /* Rectangle 29 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Principale/Blanc */
background: #FFFFFF;

}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 16px;
position: absolute;
width: 150px;

}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

#boutton_connexion{
  color:white;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  background: #C00000;
  position: absolute;
  width: 150px;
  right: 9px;
  top: 16.67%;
  bottom: 22.22%;
  font-size: 13px;
}










/********     button.jsx     *** */

.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}








/****************** headercss *******************************/


.wrapper {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  height:72px ;
  width:1440px;
  /* Rectangle 29 */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

/* Principale/Blanc */
background: #FFFFFF;

}

svg {
  display: inline-block;
  vertical-align: top;
}

h1 {
  font-weight: 900;
  font-size: 20px;
  line-height: 1;
  margin: 6px 0 6px 10px;
  display: inline-block;
  vertical-align: top;
}

button + button {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
font-size: 16px;
position: absolute;
width: 150px;

}

.welcome {
  color: #333;
  font-size: 14px;
  margin-right: 10px;
}

#boutton_connexion{
  color:white;
  height: 44px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  background: #C00000;
  position: absolute;
  width: 150px;
  right: 9px;
  top: 16.67%;
  bottom: 22.22%;
  font-size: 13px;
}

